# Directories
*data
__pycache__
.vscode
.DS_Store
01-*
baseline/
00-*
build/
dist/
06-Package
*logs/
test*/
_build/

# Files
*.gif
*.jpg
*.jpeg
*.png
*.pyc
*.out
*.pptx
output.out
*.csv
*.txt
*.err
*.h5
*.ipynb
*.egg*
*.sh
*.zip
test_perf.py
*.csv
*.onnx
*.pt
*.lock
*.ini
*.vscode
