# Directories
*data
__pycache__
.vscode/
.DS_Store
01-*
baseline/
00-*
build/
dist/
06-Package
*logs/
_build/
venv/

# Files
*.pyc
*.out
*.pptx
output.out
*.csv
*.txt
*.err
*.h5
*.ipynb
*.egg*
*.sh
*.zip
test_perf.py
*.onnx
*.pt
*.lock
*.ini
*.vscode
*.yaml
*.png
*.jpeg
*.jpg
*.tiff
CLAUDE.md
.coverage
coverage.lcov
